<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{navbar}">
<head>
  <link rel="stylesheet"  th:href="@{/bootstrap.min.css}">
  <script type="text/javascript" th:src="@{/bootstrap.min.js}"></script>
  <script type="text/javascript" src="@{/jquery-3.6.1.js}"></script>
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">

  <meta charset="UTF-8">
  <title>Societe</title>
</head>
<body>
<div layout:fragment="content">
<div class="container p-3" >
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow p-3 mb-5 bg-body rounded" >
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="d-flex flex-row justify-content-between align-items-center  pb-2">
                <h3 class="text-secondary border-bottom mb-3 p-2" >
                  <i class="fa fa-plus" style="font-size:26px;color:#a45e5f"></i> Details Societe   <h3  class="text-secondary border-bottom mb-3 p-2" th:field="${societe.nomsociete}"></h3>
                </h3>
              </div>
              <form th:action="@{/societe/{id}(id=${societe.id})}" method="GET" th:object="${societe}">

                <div class="row ">
                  <div class=" form-group col-sm-5" style="padding-left: 70px" >
                    <label
                            for="nom"
                            class="col-form-label "
                            style=" font-size:20px;color:black">Nom du societe <em style="color:#01555f"></em> : </label>
                    <input
                            name="nom"
                            type="text"
                            class="form-control" id="nom" style="padding: 8px; font-size:19px;background-color:white;color:black"
                            th:field="${societe.nomsociete}">

                  </div>
                  <!--  <div class=" form-group col-sm-5" style="padding-left: 70px" >
                    <label
                            class="col-form-label "
                            style=" font-size:20px;color:black">image du societe <em style="color:#01555f"></em> : </label>
                             <div> <img th:src="@{'/images/'+${image}}"></div>
                  </div>-->
                </div><br>
                <div class="row ">
                  <div class=" form-group col-sm-8"  style="padding-left: 70px" >
                    <label class="col-form-label "
                           for="description"
                           style="font-size:19px;color:black">Description :
                    </label>
                    <textarea
                            name="description"
                            id="description"
                            class="form-control "
                            cols="40" rows="8"
                            th:field="${societe.description}">
                                               <!-- style="font-size:19px;background-color:white ;color:black"-->


                                                                    </textarea>
                  </div>
                </div> <br><br>
              </form></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>